{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "airbnb-base"
  ],
  "globals": {
    "React": true,
    "JSX": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-restricted-exports": 0,
    "no-prototype-builtins": 0,
    "import/extensions": 0,
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
